<%= link_to "â† voltar", root_path %>

<h2>Mural</h2>
<div class="dark-box rounded_4 index-shouts">
  <% for shout in @shouts %>
    <p>
      <b><%= link_to shout.user.name, user_path(shout.user) %></b>
      <%= shout.content %>
    </p>
  <% end %>
</div>