<h2>Sobre o Jogo</h2>

<div class='about'>

<div class="dark-box see_too">
  	<h3>Veja também</h3>
		<ul>
			<li><%= link_to 'Regras do Servidor Terra', rules_path %></li>	
		</ul>
</div>



<div class='text'>
<p>
Savage: The Battle For Newerth é um jogo online que mistura os melhores gêneros atuais: o tiro em primeira pessoa, a estratégia em tempo real e o RPG, tudo isso com gráficos 3D de alta qualidade, sons alucinantes e uma jogabilidade simples e intuitiva que vai entreter os jogadores mais exigentes.
</p>

<p>
Apesar de ser difícil de acreditar, isso é possível. Imagine que você pode ser eleito pelos outros jogadores como comandante do time, então você vai coordenar as investidas contra os inimigos e gerenciar os recursos e contruções do time, ou você pode ser um soldado que vai pessoalmente fazer diferença nos ataques contra a equipe adversária, e conforme são obtidos sucessos, seu personagem ganha níveis, itens e fica mais forte e resistente.
</p>

<p>
Ambientado em um mundo de fantasia cheio de magias e tecnologias futuristas onde humanos e bestas se degladiam violentamente para garantir suas existências, você terá que escolher um lado para defender e lutar com outras pessoas em partidas online pela supremacia da sua espécie e a extinção da outra. Sem dúvida uma adição indispensável para a coleção de entretenimentos de qualquer pessoa de bom gosto.
</p>
<span class='hint'>(por Sauron)</span>
</div>

</div>