<div class='tutorials'>
	
  <h2>Em breve, muito mais tutoriais aqui!</h2>

  <ul style="display:none">
  	<li>arquivos para download</li>
  	<li>regras</li>
  	<li>como criar clan (tutorial)</li>
  	<li>comandos de console (mestre escreveu algo no forum)</li>
  	<li>mapas com o resultado dos estudos do husckyio, rufus e mc</li>
  </ul>

  <div class="dark-box externals">
    <h3>Tutoriais externos</h3>
  	<ul>
  		<li>
  		  <%= link_to "Criação de clã", "http://savagebrasil.forumeiros.com/tutoriais-f16/clan-t488.htm" %>
  		   <span class='hint'>- noobinho</span>
  		</li>
  	  <li>
    	  <%= link_to "Manual básico para comandar beast", "http://savagebrasil.forumeiros.com/tutoriais-f16/manual-basico-comando-beast-passo-a-passo-t33.htm" %>
    	  <span class='hint'> - ericones</span>
  	  </li>
      <li>
        <%= link_to "Como gravar e assistir demos", "http://savagebrasil.forumeiros.com/tutoriais-f16/lista-de-demos-e-instrucoes-de-como-gravar-assistir-t457.htm" %>
        <span class='hint'> - hats</span>
      </li>
  	<ul>
  </div>

  <div id='comandos'>

  <pre>
  	COMANDOS SAVAGE

  	1. *GERAL
  	2. *CALLVOTES
  	3. *USER COMMANDS
  	4. *CLAN COMMANDS
  	5. *OUTROS

  	Legenda:
  	/comando efeito.

  	<h3>===== GERAL=====</h3>
  	/exit desliga o console.
  	/crash desliga o console.
  	/bind Cria um bind.
  	/kill Suicídio.
  	/reconnect reconecta ao servidor.
  	/disconnect disconecta do servidor.
  	/ignore (nome do player) ignora as msg do jogador indicado.
  	/unignore (nome do player) elimina o efeito do ignore.
  	/ignoreall ignora todas as mensagens.
  	/maplist carrega a lista de mapas use números para abrir.
  	/msg (nome do player) envia uma mensagem privada ao player.

  	<h3>====== CALLVOTES =====</h3>
  	/callvote elect (nome do player) Eleger determinado jogador como Commander.
  	/callvote world (nome do mapa) Mudar para um mapa específico.
  	/callvote nextmap Próximo mapa no rotation.
  	/callvote shuffle Sortear os times aleatóriamente.
  	/callvote restartmatch Reiniciar a partida.
  	/callvote draw Para Definir empate.
  	/callvote concede Para Conceder a Derrota no time.
  	/callvote mute (nome do player) Mutar determinado jogador.
  	/callvote kick (nome do player) Expulsar determinado jogador.
  	/callvote kicknum (numero do player) Expulsar pelo número no console.

  	<h3>===== USER COMMANDS =====</h3>
  	/name (nome) Modifica o nome.
  	/username (username) Modifica o nome de usuário.
  	/password (senha) Modifica a senha da conta atual.

  	<h3>===== CLAN COMMANDS =====</h3>
  	/clancommands exibe os comandos de clan.
  	/createclan (iniciais) (Nome completo do Clan) cria um novo clan.
  	/leaveclan sai do clan atual.
  	/invite (nome do player) Convida alguém para participar do clan.
  	/joinclan (iniciais) entra em determinado clan.
  	/clanmembers Lista todos os membros do clan.
  	/newicon (local do arquivo) Adiciona um novo ícone ao clan.
  	/flushclanicon Atualiza ícone ao clan.
  	/kickfromclan (nome do player) expulsar alguém do clan.
  	/userkickfromclan (nome do usuário) expulsar usuário do clan.
  	/makeclanadmin (nome do jogador) transforma o jogador em Admin do clan.
  	/usermakeclanadmin (nome do usuário) tranforma o usuario em admin.
  	/transfersuperadmin (nome do jogador) transfere o status de fouder.
  	/usertransfersuperadmin (nome do usuario) transfere o status de fouder.

  	<h3>===== OUTROS =====</h3>
  	/rain Efeito Chuva
  	/snow Efeito Neve
  	/listclients Lista os Jogadores por numero no console.
  	/sensitivity (quantidade de sensibilidade) Aumenta a sensibilidade do mouse.
  	/cl_sensitivity_range (quantidade de sensibilidade) Aumenta a sensibilidade do mouse quando usando uma range weapon.
  	/cl_sensitivity_melee (quantidade de sensibilidade) Aumenta a sensibilidade do mouse quando usando uma melee weapon.
  	/host_maxfps (fps) quantidade máxima de Fps.
  </pre>
</div>