<%= link_to "Retornar", admin_events_path %>

<h3>Editar anúncio</h3>
<% form_for [:admin, @event] do |f| %>
  <%= f.label :message, "Mensagem" %><br/>
  <%= f.text_area :message %>
  <p><%= f.submit "Atualizar" %></p>
<% end %>