/* ================================== */
/* =            Global              = */
/* ================================== */

/*.hovering { background-color:red }*/

/* Abduzeedo azul 00ccff */
/* Azul links 3787c2 */
/* Azul botões 007d9a */
/* greglemond.com amarelo EEC400 */

/* Reset */
body { padding:0; margin:0; font-size:12px; font-family: helvetica, arial, clean, sans-serif; color:#cccccc; background-color:#222222; background: url(/images/body-home.png)  }
h2 { font-weight:bold; font-size:22px; color:#000000; text-shadow: 0 1px 1px #404040; text-align:center }
h3 { text-align:center; color:#EEC400 }
.content { padding:15px; }
a, a:visited { color: #3787c2; text-decoration:none }
/*a:hover { text-decoration:underline }*/
a:hover { color:#eec400 }
img { border:0 }

/* Global classes */
.smooth { color:#555555; }
.medium { color:#777777; }
.highlight { background-color:#FFFFCC }
.rounded_2 { -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
.rounded_4 { -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px; }
.hint { color:#aaaaaa; font-style:italic; font-size:13px; font-family:Cambria, Georgia, Times, 'Times New Roman', serif; }
.explanation { background-color:#fff5e7; padding:12px; border:solid 1px #faf2e0; color:#777777; font-size:13px;
               font-style:italic; font-family:Cambria, Georgia, Times, 'Times New Roman', serif; }
input[type=text].has-hint { color:#999999; text-align:center; font-style:italic; font-family:Cambria, Georgia, Times, 'Times New Roman', serif }
a.delete-link, a.delete-link:visited { color:#dd2222 }
a.delete-link:hover { color:#eec400 }
.with-serif { font-style:italic; font-weight:normal; font-family:Georgia, Times, 'Times New Roman', serif }
.alternate { color:#EEC400 }

/* Messages & Errors */
  .success { background: #228822 no-repeat top; color: #ffffff }
  .error { background: #a22 no-repeat top; color: #ffffff; }
  .warning { border: 1px solid #efefaf; background: #ffffcf no-repeat top; color: #8a8a30; }
  .info { border: 1px solid #82c2d4; background: #ebf5f8 no-repeat top; color: #229 }
/*
  .success {  border: 1px solid #9c9; background: #e2f9e3 url(/images/tick_solid.png) no-repeat top; color: #060 }
  .error { border: 1px solid #c68484; background: #fcc url(/images/cross_solid.png) no-repeat top; color: #c00; }
  .warning { border: 1px solid #efefaf; background: #ffffcf url(/images/error_solid.png) no-repeat top; color: #8a8a30; }
  .info { border: 1px solid #82c2d4; background: #ebf5f8 url(/images/information_solid.png) no-repeat top; color: #229 }
*/
/* .notice, .error, .warning, .info { font-weight: bold;	margin: -10px 0 15px 0;	padding: 5px 5px 5px 27px; background-position: 5px 5px } */
/*.success, .error, .warning, .info { font-size:13px; text-align:center; padding: 8px 5px 8px 27px; background-position: 25px 9px }*/
.success, .error, .warning, .info { font-size:13px; text-align:center; padding:10px }

/* box */
.box, .box_header { padding:20px; }
.box { background-color:#2a2a2a; border:solid 1px #333333; }
/*.box_header { background-color:#e8e8ff; border:solid 1px #d5d5d5; border-bottom:0; height:50px;}
.box_header big { font-size:16px; }
*/
/* dark-box */
.dark-box { padding:20px; background-color:#1b1b1b; border:solid 1px #2e2e2e; }
.dark-box .hint { color:#555555 }

/* small box */
.small-box { padding:6px 8px; background-color:#eeeeee; }

/* override Rails CSS defaults */
.errorExplanation { background-color:#883333; color:#ffffff; padding:10px; margin:0 -30px 12px -30px}
.errorExplanation ul li { font-size:12px }
.fieldWithErrors { display:inline }
.pretty .fieldWithErrorsors label { color:#990000; font-weight:bold }
.pretty .fieldWithErrors input[type=text] { background-color:#ffbbbb }
.pretty .fieldWithErrors input[type=password] { background-color:#ffbbbb }

h3.submenu { margin:0 0 25px 0 } 
h3.submenu a { font-size:16px; padding:2px 12px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; border-radius:10px;   }
h3.submenu a.selected { color:#ffffff }

/* pagination */
.pagination { font-size:16px; margin:20px auto 30px auto; text-align:center; }
.pagination a { padding:10px; background-color:#222222 }
.pagination .current { color:#ffffff; font-size:28px; padding:10px; font-weight:bold }
.pagination .disabled { color:#444444 }
.pagination .prev_page { font-weight:bold; 
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  }
.pagination .next_page { font-weight:bold;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;  }
  
    }

/* ================================== */
/* =         Pretty Elements        = */
/* ================================== */
.pretty { }
  .pretty li { font-size:14px; padding:6px }
  .pretty tr { }
  .pretty tr td .text { font-size:13px; font-weight:bold }
  .pretty tr td { height:26px; padding:4px 8px 2px 8px; border-bottom:solid 1px #eeeeee }
  .pretty tr:last-child td { border-bottom:none }
  .pretty .links { display:none; margin-right:20px; font-size:12px; padding:6px 0 0 10px }
  .pretty .form { background-color: #eeeeee; }
  .pretty tr.hovering { background-color:#fff5e7 }
  .pretty h1 { font-size: 24px; letter-spacing: -0.08em; margin:-10px 0 15px 0; text-align:center  }
  .pretty h2 { text-align:center }
  .pretty h3 { text-align:center; font-size:14px; color:#888888; margin:0 0 10px 0 }
  .pretty p { margin-bottom:12px }
  .pretty input[type=text], .pretty input[type=password] { font-size:16px; width:250px; padding:2px }
  .pretty label { color:#777777 }
  .pretty hr { border-color:#ffffff; margin:20px 0 }
  .pretty big { font-size:15px }

/* ================================== */
/* =         Awesome buttons        = */
/* ================================== */
/* Awesome buttons - http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border:0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:active	{ top: 1px; }
.small.awesome, .small.awesome:visited { font-size: 11px; }
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { background-color:#303030; font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 8px 14px 9px; }

.blue.awesome, .blue.awesome:visited		{ background-color: #007d9a; } /* cc8844 */
.blue.awesome:hover							        { background-color: #EEC400; }
.green.awesome, .green.awesome:visited  { background-color: #24c6ac; }
.green.awesome:hover							      { background-color: #009d6a; }
.awesome:hover { background-color: #EEC400; color:#fff; text-decoration:none }


/* ================================== */
/* =             Events             = */
/* ================================== */
.events { vertical-align:top; padding-right:25px }
  .events .event { /*background-color:#222222; */ padding:20px; margin:4px; border-bottom:solid 1px #222222; line-height:2.0em }
  .events div:last-child { border:0 }
  .events .event .time { float:right }
  .events h2 { font-size:18px }
  .events .event .announcement { color:#ffffff; font-size:14px }


/* ================================== */
/* =             Login              = */
/* ================================== */
.login { background-color:#333333 }
  .login h1 { color:#24c6ac; text-align:center; padding:70px 0 30px 0 }
  .login-box { width:220px; }
  .login-box label { float:left; width:50px; padding:8px 5px 0 0; text-align:right }
  .login-box input[type=text], .login-box input[type=password] { width:150px }


/* ================================== */
/* =           Sidebar              = */
/* ================================== */
.sidebar { width:270px; vertical-align:top }
  .sidebar h2 { text-align:center; font-size:18px }
  
/* ================================== */
/* =             Shouts             = */
/* ================================== */
.index-shouts { margin:auto; width:270px }
.sidebar .shout textarea { width:100%; height:60px; background-color:#222222; border:solid 1px #333333; color:#ffffff}
.sidebar .shout .user { font-weight:bold }


/* ================================== */
/* =            Banner              = */
/* ================================== */
.banner { color:#999999; height:190px; background:url(/images/banner.jpg) right no-repeat #000000; border-bottom:solid 1px #444444;  }
  .banner h1 { position:absolute; font-size:24px; top:20px; left:30px }
  .banner h1 a { color:#eec400; font-weight:normal; text-shadow: 0 1px 3px #404040;}
  .banner h1 a .brasil { font-weight:bold; color:#ffffff }

  .banner .menu { position:absolute; top:40px; right:20px; font-size:14px; text-transform:uppercase }
    .banner .menu a { padding:10px 10px; color:#ffffff; font-weight:bold; text-shadow: 1px 1px 2px #000000;  }
/*    .banner .menu a:hover { color:#ffffff; text-decoration:none  }*/
    .banner .menu a.selected { color:#eec400 }
    
    .bar-background, .bar { position:absolute; right:20px; top:160px; height:30px; width:270px }
/*  .bar { background-color:#000000; opacity:0.5; filter: alpha(opacity = 50); }*/
  .bar-background {  background-color:#1a1a1a; opacity:0.6; filter: alpha(opacity = 40); z-index:10;
                      -webkit-border-top-left-radius: 15px;
                      -webkit-border-top-right-radius: 15px;
                      -moz-border-radius-topleft: 15px;
                      -moz-border-radius-topright: 15px;
                      border-top-left-radius: 15px;
                      border-top-right-radius: 15px; }
  .bar { width:240px; right:35px; color:#dddddd; padding:10px 0px; z-index:11 }
  


/* ================================== */
/* =              Maps              = */
/* ================================== */
.map { background-color:#333333; float:left; margin:5px; padding:10px; height:120px}
.map .name { text-align:center; padding-bottom:3px; font-size:12px }


/* ================================== */
/* =              User              = */
/* ================================== */
.new-user-session { text-align:center }
.new-user-session .login-box { margin:auto; text-align:left }


.new-user, .edit-user { width:630px; margin:auto }
.uid-explanation { width:300px; float:right; line-height:1.8em }
.uid-explanation p { padding-bottom:15px }
.uid-explanation strong { color:#ffffff }
.show-user { width:350px; margin:auto }
.show-user h3.name { font-size:24px; text-shadow: 0px 1px 2px #000000 }
.show-user .tiny-image { height:64px; width:64px; float:left; margin:3px; border:solid 1px #555555; }
.show-user .tiny-image:hover { border:solid 2px #EEC400; padding:1px; margin:1px }
  

/* ================================== */
/* =        Static Content          = */
/* ================================== */
.post { line-height:1.8em; font-size:14px; width:600px; padding-left:30px }
.post h1 { color:#ffffff; font-size:22px; text-align:center; text-shadow: 1px 1px 10px #EEC400; margin:25px }
.post h1 span { font-weight:normal }
.post strong { color:#ffffff; font-weight:bold }

.tutorials .externals h3 { margin-bottom:25px; padding:0; text-align:center }
.tutorials .externals { float:right }
.tutorials h2 { font-size:18px; margin-bottom:35px }
.tutorials h3 { text-align:left; padding:0 0 0 60px; margin-bottom:0 }

.sign-up { background-color:#007d9a; padding:15px; color:#222222; font-weight:bold; text-align:center }
  .sign-up h2 { font-size:18px; text-shadow:none; color:#ffffff  }

/* ================================== */
/* =            Assets              = */
/* ================================== */
.asset-upload { margin:0 0 20px 20px; color:#ffffff; float:right; width:310px }
.asset-upload input[type=text], .asset-upload textarea { background-color:#303030; border:solid 1px #444444; color:#ffffff; }
.asset-upload textarea { height:40px; padding:3px; overflow:auto; width:100% }

.index-assets .image-box { padding:20px; background-color:#252525; margin:2px; padding:15px; float:left; width:210px; height:240px}
.index-assets a.image-link { padding:2px; display:inline-block;  }
.index-assets a.image-link:hover { padding:0; border:solid 2px #EEC400 }

.index-demos .list { width:600px; background-color:#222222; border-collapse:collapse; float:left }
.index-demos .list td { vertical-align:top; padding-bottom:20px; border:solid 1px #333333; padding:10px }
.index-demos .list span.title { font-size:16px; color:#ffffff }
.index-demos .list td.size { white-space:nowrap }
.index-demos .list td.user { white-space:nowrap }

.new-asset-button { position:absolute; top:260px; right:20px }