<h2>Galeria</h2>
<h3 class="submenu">
  <%= link_to "Imagens", images_path, :class => @menu == :images ? "selected" : nil %>
  <%= link_to "Demos", demos_path, :class => @menu == :demos ? "selected" : nil %>
</h3>
