<div class="assets-header">
  <h2>Galeria</h2>
  <h3>
    <%= link_to "Imagens", assets_path, :class => @menu == :images ? "selected" : nil %>
    <%= link_to "Demos", demos_path, :class => @menu == :demos ? "selected" : nil %>
  </h3>
</div>
